* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white:
}

/********HEADER***********/
header {
    background-color: #000;
}

nav {
    padding: 5px;
}

/*********WELCOME SECTION************/
h1,
h3 {
    font-size: 50px;
    padding: 30px;
    color: #000;
}

#welcome-section {
    padding: 60px;
    background-color: #006633;
}

p {
    color: #000;
    font-size: 30px;
    padding: 10px;
}

/*************ABOUT ME******/
#about_me {
    background-color: azure;
    padding: 30px;
    border: 2px;
    border-radius: 3px;
}

blockquote {
    font-size: 25px;
}

/*******PROJECTS*****/
#projects {
    padding: 40px;
    background-image: url(https://bit.ly/2M7VvkI);
}

/**********CONTACT ME**************/
#contact_me {
    padding: 10px;
    background-color: #e3f2ea;
    border: 2px;
    border: solid 2px;
}

a:hover {
    color: azure;
}